.footer{
    background-color: #f7f7f7 !important;
    height: 35px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 29px 0px !important;
    position: fixed;
    bottom: 2px;
    left: 0px;
    right: 0px;
}
.footer-heading{
    font-weight: bold;
}